langgraph>=0.2.55
langchain>=0.3.7
langchain-core>=0.3.15
langchain-google-genai>=2.0.5
psycopg2-binary>=2.9.9
pandas>=2.2.3
numpy>=1.26.4
plotly>=5.24.1
pinecone>=5.0.1
sentence-transformers>=3.3.1
pydantic>=2.10.3
python-dotenv>=1.0.1
streamlit>=1.40.2
typing-extensions>=4.12.2
tqdm>=4.67.1
tabulate